* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    width: 90%;
    background-color: lightsalmon;
    object-fit: cover;
    height:100%;
    background: -webkit-linear-gradient(left, rgb(167, 223, 96), rgb(153, 90, 173));
    background: -moz-linear-gradient(left, rgb(167, 223, 96), rgb(153, 90, 173));
    background: -o-linear-gradient(left, rgb(167, 223, 96), rgb(153, 90, 173));
    background: linear-gradient(to right, rgb(167, 223, 96), rgb(153, 90, 173));
}

section {
    position: relative;
}
#zen {
    display: inline-block;
    position: absolute;
    opacity: 0.2;
    margin-left: 43%;
    margin-top: 150%;
    size: cover;
}


a:link {
    color: red;    background: -webkit-linear-gradient(223deg, rgb(71, 94, 35), rgb(79, 20, 90)) no-repeat;
    background: -moz-linear-gradient(223deg, rgb(71, 94, 35), rgb(79, 20, 90)) no-repeat;
    background: -o-linear-gradient(223deg, rgb(71, 94, 35), rgb(79, 20, 90)) no-repeat;
    background: linear-gradient(313deg, rgb(71, 94, 35), rgb(79, 20, 90)) no-repeat;
}
a:visited {
    color:lightcoral;
}

blockquote {
    width: 50%;
    margin-left: 27.333%;
    display: inline-block;
    font-size: 160%;
    background-color: lightgray;
    border-radius: 10px;
    padding: 14px 30px;
    border-left: solid 3px #CB4154;
    padding-top: 80px;
    padding-bottom: 80px;
}
a:link, a:visited {
    border-radius: 5px;
    background-color: rebeccapurple;
    color:#F3F781;
    padding: 14px 5px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    height: 5px;
}
footer {
    text-align: center;
}

ul {
    font-weight: bold;

}

p {
    color: darkred;
}