* {
    font-family: 'Metamorphous';    
}

body {
    background: url("Zen.jpg") no-repeat right bottom, linear-gradient(to right, rgb(167, 223, 96), rgb(153, 90, 173));
    width: 90%;
    height:100%;

}

a:link {
    color: red;    background: -webkit-linear-gradient(223deg, rgb(71, 94, 35), rgb(79, 20, 90)) no-repeat;
    background: -moz-linear-gradient(223deg, rgb(71, 94, 35), rgb(79, 20, 90)) no-repeat;
    background: -o-linear-gradient(223deg, rgb(71, 94, 35), rgb(79, 20, 90)) no-repeat;
    background: linear-gradient(313deg, rgb(71, 94, 35), rgb(79, 20, 90)) no-repeat;
}
a:visited {
    color:lightcoral;
}

blockquote {
    font-style: italic;
    width: 50%;
    margin-left: 27.333%;
    display: inline-block;
    font-size: 160%;
    background-color: lightgray;
    border-radius: 10px;
    padding: 14px 30px;
    border-left: solid 3px #CB4154;
    padding-top: 80px;
    padding-bottom: 80px;
}

em {
    text-transform: uppercase;
}

.bien {
    color: green;
}

.mal {
    color: red;
}
table tr:nth-child(odd) td{
    background-color: white;
    border: 3px double solid gray;

}
table tr:nth-child(even) td{
    border:3px double solid white;
    background-color: gray;
}


a:link, a:visited {
    border-radius: 5px;
    background-color: rebeccapurple;
    color:#F3F781;
    padding: 14px 5px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    height: 5px;
}
footer {
    position: relative;
    text-align: center;
}

ul {
    font-weight: bold;
}

#one {
    background-image: url("bien.png");
}

#one img{
    padding-right: 20px;
}

p {
    color: darkred;
}